@font-face {
  font-family: 'iconfont'; /* Project id 3873514 */
  src: url('iconfont.woff2?t=1675127512819') format('woff2'),
    url('iconfont.woff?t=1675127512819') format('woff'),
    url('iconfont.ttf?t=1675127512819') format('truetype');
}

.iconfont,
[class^='icon-'],
[class*=' icon-'] {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-danganguanli:before {
  content: '\e74f';
}

.icon-yingsuguanli:before {
  content: '\e75a';
}

.icon-zichanguanli:before {
  content: '\e75c';
}

.icon-xitongshezhi:before {
  content: '\e75f';
}

.icon-bumenchuruguanli:before {
  content: '\e74d';
}
